.sidebar {
    display: flex;
    flex-direction: column;
    min-width: 240px;
    width: 320px;
    height: 100vh;
    overflow: hidden;
    background-color: #262626;
}

.scrollContainer {
    overflow-y: auto;
    max-height: 100%;
    padding: 16px;
}

.noDataMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
    font-size: 1.5rem;
    color: #555;
    text-align: center;
}

.userListItem {
    background-color: #262626;
    display: flex;
    min-height: 56px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    border-bottom: 1px solid #e0e0e0;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #fafafa;
}

.userAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.userName {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.userActionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userActionButton {
    background: none;
    border: none;
    cursor: pointer;
    color: #fafafa;
}

.icon {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
}

.chatContainer {
    display: flex;
    height: 100vh;
}

.chatWindow {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .sidebar {
        width: 0px;
    }
}
