.header {
    border-bottom: 1px solid #e5e8eb;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 12px 40px;
    position: fixed;
    background-color: #262626;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: -17px;
    gap: 10px;
}

.logoImage {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
}

.logoText {
    color: white;
    font: 700 18px/1 Work Sans, -apple-system, Roboto, Helvetica, sans-serif;
}

.navLink {
    color: white; 
    font-weight: 500;
    text-decoration: none;
    margin-right: 20px;
}

.authButtons {
    display: flex;
    gap: 8px;
}

.notificationDot {
    position: absolute;
    top: -2px;
    right: -1px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(240, 68, 56);
    z-index: 10;
}

.iconButton {
    position: relative;
    background-color: #f5f0e5;
    border: none;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 20px;
}

.notificationIcon {
    width: 20px;
    height: 20px;
}

.profileMenu {
    position: relative;
    display: flex;
    align-items: center;
}

.profileCircle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #009963;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.dropdownMenu {
    position: absolute;
    top: 55px;
    right: 0;
    background: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
    list-style: none;
    z-index: 1000;
    border-radius: 4px;
}

.dropdownItem {
    display: block;
    padding: 8px 12px;
    color: #121417;
    text-decoration: none;
}

.dropdownItem:hover {
    background-color: #f5f5f5;
}

.logoutContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logoutButton {
    background: none;
    border: none;
    color: #121417;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    padding: 8px 12px;
    white-space: nowrap;
}

.logoutButton:hover {
    background-color: #f5f5f5;
}

.loaderContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

@media (max-width: 991px) {
    .header {
        max-width: 100%;
        padding: 12px 20px;
    }

    .logo {
        margin-left: 0;
        flex-direction: row;
        justify-content: center;
    }

    .authButtons {
        margin-top: 5px;
    }

    .iconButton {
        margin-right: 5px;
    }

    .logoText,
    .navList a {
        white-space: initial;
    }
}