.searchFilterContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 12px 16px;
    gap: 12px;
    margin-top: 60px;
    width: 100%;
    align-items: flex-start;
}

.searchWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}

.searchBar {
    border-radius: 12px;
    display: flex;
    width: 100%;
    align-items: center;
    height: 48px;
}

.searchInput {
    border-radius: 12px;
    background-color: #f5f0e5;
    width: 100%;
    color: #a1824a;
    height: 100%;
    padding: 8px 16px;
    font: 400 16px Plus Jakarta Sans, sans-serif;
    border: none;
}

.filterBar {
    display: flex;
    width: 100%;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 12px 0;
    z-index: 1;
}

.filterButton {
    border-radius: 16px;
    background-color: #f5f0e5;
    display: flex;
    min-height: 32px;
    align-items: center;
    gap: 8px;
    justify-content: center;
    padding: 0 8px;
    border: none;
    cursor: pointer;
    color: #1c170d;
    font: 500 14px Plus Jakarta Sans, sans-serif;
}

.filterIcon,
.arrowIcon {
    width: 20px;
    height: 20px;
}

.dropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    width: 200px;
    z-index: 2; /* Ensures dropdown is on top */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown button {
    background: none;
    border: none;
    padding: 8px 16px;
    text-align: left;
    cursor: pointer;
    font: 400 14px Plus Jakarta Sans, sans-serif;
    color: #333;
    width: 100%;
}

.dropdown button:hover {
    background-color: #f5f0e5;
}

.selectedFilters {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 16px;
    z-index: 0;
    justify-content: center;
}

.filterTag {
    background-color: #e0ffe0;
    padding: 6px 12px;
    border-radius: 16px;
    display: flex;
    align-items: center;
}

.removeFilterButton {
    margin-left: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #d9534f;
}

@media (max-width: 991px) {
    .searchFilterContainer {
        max-width: 100%;
    }

    .searchWrapper {
        min-width: 100%;
    }
    .filterBar {
        justify-content: center;
    }
}
